<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/index">

<head>
  <title>Blog Edit</title>
</head>

<body>

  <div layout:fragment="content1">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blog</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3>Blog Update</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="quickForm" enctype="multipart/form-data" method="post" th:action="@{/admin/blog/save}"
                  th:object="${blog}">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="id">Id</label>
                      <input type="text" name="id" class="form-control" id="id" placeholder="Enter Id "
                        th:value="${blog.getId()}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="blogCategory">Blog Category</label>

                      <select th:field="${blog.blogCategory}" name="blogCategory" class="form-control col-md-3">
                        <option th:each="blogCategory:${listBlogCategories}" th:text="${blogCategory.getName()}"
                          th:value="${blogCategory.getId()}"></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title "
                        th:value="${blog.getTitle()}">
                    </div>
                    <div class="form-group">
                      <label for="shortDescription">Short Description</label>
                      <input type="text" name="shortDescription" class="form-control" id="shortDescription"
                        placeholder="Enter Short Description " th:value="${blog.getShortDescription()}">
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" name="description" class="form-control" id="description"
                        placeholder="Enter Description " th:value="${blog.getDescription()}">
                    </div>
                    <div class="form-group">
                      <label for="image">Image</label>
                      <input type="file" accept="image/png, image/jpeg" name="image" class="form-control" id="image"
                        placeholder="Enter Image " th:value="${blog.getImage()}">
                    </div>
                    <div class="form-group">
                      <label for="entryDate"></label>
                      <input type="hidden" class="form-control" id="entryDate"
                        placeholder="Enter Entry Date " th:value="${blog.getEntryDate()}">
                    </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select name="status" class="form-control col-md-3">
                        <option value="1">Active</option>
                        <option value="0">Not Active</option>
                      </select>
                    </div>


                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">UPDATE</button>
                    <a th:href="@{/admin/blog/index}"><button type="button"
                        class="btn btn-dark btn-sm">BACK</button></a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </div>
  <section layout:fragment="script1">
    <script th:src="@{/admin/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/admin/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script>
      $(function () {
        $.validator.setDefaults({
          submitHandler: function () {
            document.getElementById("quickForm").submit();
            alert("Form successful submitted!");
          }
        });
        $('#quickForm')
          .validate({
            rules: {
              blogCategory: {
                required: true,
              },
              title: {
                required: true,
              },
              shortDescription: {
                required: true,
              },
              description: {
                required: true,
              },
              image: {
                required: true,
              },
              entryDate: {
                required: true,
              },
              status: {
                required: true,
              },
            },
            messages: {
              blogCategory: {
                required: "Please enter a blog category",
              },
              title: {
                required: "Please enter a title",
              },
              shortDescription: {
                required: "Please enter a short description",
              },
              description: {
                required: "Please enter a description",
              },
              image: {
                required: "Please enter a image",
              },
              entryDate: {
                required: "Please enter a entry date",
              },
              status: {
                required: "Please enter a status",
              },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
              error.addClass('invalid-feedback');
              element.closest('.form-group')
                .append(error);
            },
            highlight: function (element, errorClass,
              validClass) {
              $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass,
              validClass) {
              $(element).removeClass('is-invalid');
            }
          });
      }); 
    </script>
  </section>


</body>
<html>