<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/index">

<head>
  <title>Order Entry</title>
</head>

<body>

  <div layout:fragment="content1">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Order</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3>Order Entry</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="quickForm" method="post" th:action="@{/admin/order/save}" enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="user">User</label>

                      <select th:field="${order.user}" name="user" class="form-control col-md-3">
                        <option th:each="user:${listUsers}" th:text="${user.getFirstName()}" th:value="${user.getId()}">
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="orderDate">Order Date</label>
                      <input type="text" name="orderDate" class="form-control" id="orderDate"
                        placeholder="Enter Order Date " th:field="${order.orderDate}">
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" name="address" class="form-control" id="address" placeholder="Enter Address "
                        th:field="${order.address}">
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" name="city" class="form-control" id="city" placeholder="Enter City "
                        th:field="${order.city}">
                    </div>
                    <div class="form-group">
                      <label for="pincode">Pincode</label>
                      <input type="text" name="pincode" class="form-control" id="pincode" placeholder="Enter Pincode "
                        th:field="${order.pincode}">
                    </div>
                    <div class="form-group">
                      <label for="orderNum">Order Num</label>
                      <input type="text" name="orderNum" class="form-control" id="orderNum"
                        placeholder="Enter Order Num " th:field="${order.orderNum}">
                    </div>
                    <div class="form-group">
                      <label for="trackingCode">Tracking Code</label>
                      <input type="text" name="trackingCode" class="form-control" id="trackingCode"
                        placeholder="Enter Tracking Code " th:field="${order.trackingCode}">
                    </div>
                    <div class="form-group">
                      <label for="deliveryStatus">Delivery Status</label>
                      <input type="text" name="deliveryStatus" class="form-control" id="deliveryStatus"
                        placeholder="Enter Delivery Status " th:field="${order.deliveryStatus}">
                    </div>
                    <div class="form-group">
                      <label for="paymentType">Payment Type</label>
                      <input type="text" name="paymentType" class="form-control" id="paymentType"
                        placeholder="Enter Payment Type " th:field="${order.paymentType}">
                    </div>
                    <div class="form-group">
                      <label for="paymentStatus">Payment Status</label>
                      <input type="text" name="paymentStatus" class="form-control" id="paymentStatus"
                        placeholder="Enter Payment Status " th:field="${order.paymentStatus}">
                    </div>
                    <div class="form-group">
                      <label for="paymentDetail">Payment Detail</label>
                      <input type="text" name="paymentDetail" class="form-control" id="paymentDetail"
                        placeholder="Enter Payment Detail " th:field="${order.paymentDetail}">
                    </div>
                    <div class="form-group">
                      <label for="grandTotal">Grand Total</label>
                      <input type="text" name="grandTotal" class="form-control" id="grandTotal"
                        placeholder="Enter Grand Total " th:field="${order.grandTotal}">
                    </div>
                    <div class="form-group">
                      <label for="discount">Discount</label>
                      <input type="text" name="discount" class="form-control" id="discount"
                        placeholder="Enter Discount " th:field="${order.discount}">
                    </div>


                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">SUBMIT</button>
                    <a th:href="@{/admin/order/index}"><button type="button" class="btn btn-dark btn-sm">BACK</button></a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </div>
  <section layout:fragment="script1">
    <script th:src="@{/admin/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/admin/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script>
      $(function () {
        $.validator.setDefaults({
          submitHandler: function () {
            document.getElementById("quickForm").submit();
            alert("Form successful submitted!");
          }
        });
        $('#quickForm')
          .validate({
            rules: {
              user: {
                required: true,
              },
              orderDate: {
                required: true,
              },
              address: {
                required: true,
              },
              city: {
                required: true,
              },
              pincode: {
                required: true,
              },
              orderNum: {
                required: true,
              },
              trackingCode: {
                required: true,
              },
              deliveryStatus: {
                required: true,
              },
              paymentType: {
                required: true,
              },
              paymentStatus: {
                required: true,
              },
              paymentDetail: {
                required: true,
              },
              grandTotal: {
                required: true,
              },
              discount: {
                required: true,
              },
            },
            messages: {
              user: {
                required: "Please enter a user",
              },
              orderDate: {
                required: "Please enter a order date",
              },
              address: {
                required: "Please enter a address",
              },
              city: {
                required: "Please enter a city",
              },
              pincode: {
                required: "Please enter a pincode",
              },
              orderNum: {
                required: "Please enter a order num",
              },
              trackingCode: {
                required: "Please enter a tracking code",
              },
              deliveryStatus: {
                required: "Please enter a delivery status",
              },
              paymentType: {
                required: "Please enter a payment type",
              },
              paymentStatus: {
                required: "Please enter a payment status",
              },
              paymentDetail: {
                required: "Please enter a payment detail",
              },
              grandTotal: {
                required: "Please enter a grand total",
              },
              discount: {
                required: "Please enter a discount",
              },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
              error.addClass('invalid-feedback');
              element.closest('.form-group')
                .append(error);
            },
            highlight: function (element, errorClass,
              validClass) {
              $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass,
              validClass) {
              $(element).removeClass('is-invalid');
            }
          });
      }); 
    </script>
  </section>

</body>
<html>