<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index"> 
<head> 
    <title>TodayRate Entry</title> 
</head> 
<body> 

 <div layout:fragment="content1"> 
<div class="content-wrapper"> 
    <!-- Content Header (Page header) --> 
    <section class="content-header"> 
      <div class="container-fluid"> 
        <div class="row mb-2"> 
          <div class="col-sm-6"> 
          </div> 
          <div class="col-sm-6"> 
            <ol class="breadcrumb float-sm-right"> 
              <li class="breadcrumb-item"><a href="#">Home</a></li> 
              <li class="breadcrumb-item active">TodayRate</li> 
            </ol> 
          </div> 
        </div> 
      </div><!-- /.container-fluid --> 
    </section> 
 
    <!-- Main content --> 
    <section class="content"> 
      <div class="container-fluid"> 
        <div class="row"> 
          <!-- left column --> 
          <div class="col-md-12"> 
            <!-- jquery validation --> 
            <div class="card card-primary"> 
              <div class="card-header"> 
              <h3>TodayRate Entry</h3> 
              </div> 
              <!-- /.card-header --> 
              <!-- form start --> 
              <form id="quickForm"  method= "post" th:action= "@{save}"> 
                <div class="card-body"> 
<div class="form-group"> 
                    <label for="name">Name</label> 
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name "th:field="${todayRate.name}"> 
                  </div> 
<div class="form-group"> 
                    <label for="price">Price</label> 
                    <input type="text" name="price" class="form-control" id="price" placeholder="Enter Price "th:field="${todayRate.price}"> 
                  </div> 
                   
                   
                </div> 
                <!-- /.card-body --> 
                <div class="card-footer"> 
                  <button type="submit" class="btn btn-primary">Submit</button> 
                </div> 
              </form> 
            </div> 
            <!-- /.card --> 
            </div> 
          <!--/.col (left) --> 
          <!-- right column --> 
          <div class="col-md-6"> 
 
          </div> 
          <!--/.col (right) --> 
        </div> 
        <!-- /.row --> 
      </div><!-- /.container-fluid --> 
    </section> 
    <!-- /.content --> 
  </div> 
  </div>
 </body>
 <html>