<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="admin/index">

<head>
  <title>OrderDetail List</title>
</head>

<body>

  <div layout:fragment="content1">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">

              <h1>OrderDetail </h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">OrderDetail</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">


              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th >Photo</th>                       
                       <th >Product</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="orderDetail : ${listOrderDetails}">
                        <td th:text="${orderDetail.id}"></td>
                        <td><img th:src="${orderDetail.product.imagePath}" style="width:70px"> </td>
                        <td th:text="${orderDetail.product.name}"></td>                                               
                        <td th:text="${orderDetail.price}"></td>
                        <td th:text="${orderDetail.qty}"></td>
                        <td th:text="${orderDetail.amount}"></td>                        
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Photo</th>
                        <th>Product</th>
                                                
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                        
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </div>
</body>
<html>