<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index"> 
<head> 
    <title>StaffMasters List</title> 
</head> 
<body> 

 <div layout:fragment="content1"> 
 <div class="content-wrapper"> 
      <!-- Content Header (Page header) --> 
      <section class="content-header"> 
        <div class="container-fluid"> 
          <div class="row mb-2"> 
            <div class="col-sm-6"> 
            </div> 
            <div class="col-sm-6"> 
              <ol class="breadcrumb float-sm-right"> 
                <li class="breadcrumb-item"><a href="#">Home</a></li> 
                <li class="breadcrumb-item active">DataTables</li> 
              </ol> 
            </div> 
          </div> 
        </div><!-- /.container-fluid --> 
      </section> 
 
      <!-- Main content --> 
      <section class="content"> 
        <div class="container-fluid"> 
          <div class="row"> 
            <div class="col-12"> 
 
 
              <div class="card"> 
                <div class="card-header"> 
                </div> 
                <!-- /.card-header --> 
                <div class="card-body"> 
                  <table id="example1" class="table table-bordered table-striped"> 
                    <thead> 
                      <tr>
<th>Id</th>
<th>Users</th>
<th>Name</th>
<th>Gender</th>
<th>Email</th>
<th>Phone</th>
<th>Photo</th>
<th>City</th>
<th>Department</th>
<th>Entry Date</th>
<th> Actions </th> 
                      </tr> 
                    </thead> 
                    <tbody> 
                      <tr th:each="staffMasters : ${listStaffMasterses}">
<td th:text= "${staffMasters.id}"> </td>
<td th:text= "${staffMasters.users.name}"> </td>
<td th:text= "${staffMasters.name}"> </td>
<td th:text= "${staffMasters.gender}"> </td>
<td th:text= "${staffMasters.email}"> </td>
<td th:text= "${staffMasters.phone}"> </td>
<td th:text= "${staffMasters.photo}"> </td>
<td th:text= "${staffMasters.city}"> </td>
<td th:text= "${staffMasters.department}"> </td>
<td th:text= "${staffMasters.entryDate}"> </td>
<td> <a th:href="@{/showFormForUpdate/{id}(id=${staffMasters.id})}" class="btn btn-primary">Update</a> 
						<a th:href="@{/deleteStaffMasters/{id}(id=${staffMasters.id})}" class="btn btn-danger">Delete</a> 
					</td>  
                      </tr> 
                    </tbody> 
                    <tfoot> 
                      <tr>
<th>Id</th>
<th>Users</th>
<th>Name</th>
<th>Gender</th>
<th>Email</th>
<th>Phone</th>
<th>Photo</th>
<th>City</th>
<th>Department</th>
<th>Entry Date</th>
<th> Actions </th> 
                      </tr> 
                    </tfoot> 
                  </table> 
                </div> 
                <!-- /.card-body --> 
              </div> 
              <!-- /.card --> 
            </div> 
            <!-- /.col --> 
          </div> 
          <!-- /.row --> 
        </div> 
        <!-- /.container-fluid --> 
      </section> 
      <!-- /.content --> 
    </div> 
    </div>
 </body>
 <html>