<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="user/user-template">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CART</title>
</head>

<body>

    <div layout:fragment="content1">
        <!-- Begin Jewellery's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>CART</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Jewellery's Breadcrumb Area End Here -->
        <!-- Begin Jewellery's Cart Area -->
        <div class="jewellery-cart-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form method="get" >
                            <div class="table-content table-responsive">
                               <h2 th:text="${session.uname}"></h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="jewellery-product-remove">remove</th>
                                            <th class="jewellery-product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="jewellery-product-price">Unit Price</th>
                                            <th class="jewellery-product-quantity">Quantity</th>
                                            <th class="jewellery-product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr th:each="cart:${carts}">
                                        
                                            <td class="jewellery-product-remove"><a
                                                    th:href="@{cart(del_id=${cart.id})}"><i class="fa fa-trash"
                                                        title="Remove"></i></a></td>
                                            <td class="jewellery-product-thumbnail"><a href="javascript:void(0)"><img
                                                        th:src="@{${cart.product.imagePath}}" style="height: 70px; "
                                                        alt="Jewellery's Cart Thumbnail"></a></td>
                                            <td class="jewellery-product-name"><a href="javascript:void(0)"
                                                    th:text="${cart.product.name}"></a></td>
                                            <td class="jewellery-product-price"><span class="amount"
                                                    th:text="${cart.product.salesPrice}"></span></td>
                                            <td class="quantity">
                                                <label>Quantity</label>
                                                <div class="cart-plus-minus">
                                                    <input type="hidden" name="id[]" th:value="${cart.id}">
                                                    <input class="cart-plus-minus-box" name="qty[]" th:value="${cart.qty}"
                                                        type="text">
                                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span class="amount"
                                                    th:text="${cart.qty} * ${cart.product.salesPrice}"></span></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                                placeholder="Coupon code" type="text">
                                            <input class="button" name="apply_coupon" value="Apply coupon"
                                                type="submit">
                                        </div>
                                        <div class="coupon2">
                                            <input class="button" name="update_cart" value="Update cart" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul>
                                            <li>Subtotal <span th:text="${total}"></span></li>
                                            <li>Total <span th:text="${total}"></span></li>
                                        </ul>
                                        <a th:href="@{checkout}">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jewellery's Cart Area End Here -->
    </div>
</body>

</html>