<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sonika Jewellers || Home Page</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.ico}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <!-- Fontawesome -->
    <link rel="stylesheet" th:href="@{assets/css/font-awesome.min.css}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-stars.css}">
    <!-- Ion Icon -->
    <link rel="stylesheet" th:href="@{assets/css/ionicons.min.css}">
    <!-- Slick CSS -->
    <link rel="stylesheet" th:href="@{assets/css/slick.min.css}">
    <!-- Animation -->
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" th:href="@{assets/css/jquery-ui.min.css}">
    <!-- Nice Select -->
    <link rel="stylesheet" th:href="@{assets/css/nice-select.min.css}">
    <!-- Timecircles -->
    <link rel="stylesheet" th:href="@{assets/css/timecircles.min.css}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <!-- <link rel="stylesheet" th:href="@{assets/css/style.min.css}"> -->

</head>

<body class="template-color-1">


    <div class="main-wrapper">
       
        <!-- Begin Jewellery's Newsletter Popup Area -->
       <!--  <div class="popup_wrapper">
            <div class="test">
                <span class="popup_off"><i class="ion-android-close"></i></span>
                <div class="subscribe_area">
                    <h2>Sign Up Newsletter</h2>
                    <p>Every piece is "UNIQUE" and New "BRAND"</p>
                    <div class="subscribe-form-group">
                        <form class="subscribe-form" method="post" th:action="@{/newsletter}">
                            <input autocomplete="off" type="text" name="email" id="message"
                                placeholder="Enter your email address">
                            <button type="submit">subscribe</button>
                        </form>
                    </div>
                    <div class="subscribe-bottom">
                        <input type="checkbox" id="newsletter-permission">
                        <label for="newsletter-permission">Don't show this popup again</label>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Jewellery's Newsletter Popup Area Here -->
		
        <!-- Begin Jewellery's Header Main Area -->
        <header class="header-main_area">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="ht-left_area">
                                <div class="header-shipping_area">
                                    <ul>
                                        <li>
                                            <span>Telephone Enquiry:</span>
                                            <a th:href="@{'callto://' + ${companyDetail.phone}}">+91-8238609160</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>
                                        <li><a href="#">Today's Gold Rate <i class="fa fa-chevron-down"></i></a>
                                            <ul class="ht-dropdown">
                                                <li th:each="rate,itr:${todayRates}"
                                                    th:class="${itr==0}? 'active' : '' "><a href="#"
                                                        th:text="${rate.name} +'-'+ ${rate.price}">22 KT (916)-</a></li>

                                        </li>
                                    </ul>
                                    </a>
                                    </li>


                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ht-left_area">
                                <div class="header-shipping_area">
                                    <ul>
                                        <li>
                                           <th:block th:if="${session.uname}">
                                            <span>Welcome: <b th:text="${session.uname}"></b> | <a th:href="@{/change-password}">Change Password</a> <a href="/log-out">Logout</a> </span>
                                        </th:block>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header-logo">
                                <a th:href="@{/}">
                                    <img th:src="@{${companyDetail.imagePath}}" alt="Jewellery's Header Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="hm-form_area">
                                <form th:action="@{/shop}" class="hm-searchbox" method="get">
                                    <select class="nice-select select-search-category" name="cat_id">
                                        <option value="0">All</option>
                                        <option th:each="category:${listCategory}" th:value="${category.id}"
                                            th:text="${category.name}"></option>

                                    </select>
                                    <input type="text" placeholder="Enter your Jewellery Type ..." name="search">
                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom_area header-sticky stick">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 d-lg-none d-block">
                            <div class="header-logo">
                                <a href="@{/}">
                                    <img th:src="@{${companyDetail.imagePath}}" alt="Jewellery's Header Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 d-none d-lg-block position-static">
                            <div class="main-menu_area">
                                <nav>
                                    <ul>
                                        <li class="dropdown-holder"><a href="#">GOLD</a>
                                            <ul class="hm-dropdown">

                                                <li th:each="category:${listCategory}">
                                                    <a th:href="@{/shop(cat_id=${category.id})}"><span
                                                            th:text="${category.getName()}" th:remove="tag"></span></a>
                                                </li>


                                            </ul>
                                        </li>

                                        <li><a href="#">OUR BRAND</a>
                                            <ul class="hm-dropdown">
                                                <li th:each="brand:${listBrand}">
                                                    <a th:href="@{/shop(brand_id=${brand.id})}"><span
                                                            th:text="${brand.getName()}" th:remove="tag"></span></a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li><a th:href="@{/about}">About Us</a></li>
                                        <li><a th:href="@{contact}">Contact</a></li>
                                        <li><a th:href="@{/shop}">Jewellery</a></li>
                                        <th:block th:if="${session.uid}">
                                            <li><a th:href="@{/myAccount}">My Account</a></li>    
                                        </th:block>
                                        <th:block th:if="${session.uid}==null">
                                            <li><a th:href="@{/login}">Login/Register</a></li>    
                                        </th:block>
                                    
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-8">
                            <div class="header-right_area">
                                <ul>
                                    <li>
                                        <a th:href="@{/wishlist}" class="wishlist-btn">
                                            <i class="ion-android-favorite-outline"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#mobileMenu"
                                            class="mobile-menu_btn toolbar-btn color--white d-lg-none d-block">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                                            <i class="ion-bag"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4>Shopping Cart</h4>
                        </div>
                        <ul class="minicart-list">
                            <li class="minicart-product" th:each="cart:${carts}">
                                <a class="product-item_remove" th:href="@{cart(del_id=${cart.id})}"><i
                                        class="ion-android-close"></i></a>
                                <div class="product-item_img">
                                    <img th:src="@{${cart.product.imagePath}}" alt="Jewellery's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" th:href="@{/shop}" th:text="${cart.product.name}"></a>
                                    <span class="product-item_quantity"
                                        th:text="${cart.qty}+' x ' +${cart.product.salesPrice}"> </span>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div class="minicart-item_total">
                        <span>Subtotal</span>
                        <span class="ammount" th:text="'₹ '+${total}"></span>
                    </div>
                    <div class="minicart-btn_area">
                        <a th:href="@{/cart}" class="jewellery-btn jewellery-btn_dark jewellery-btn_fullwidth">Cart</a>
                    </div>
                    <div class="minicart-btn_area">
                        <a th:href="@{/checkout}"
                            class="jewellery-btn jewellery-btn_dark jewellery-btn_fullwidth">Checkout</a>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_search">
                            <form action="#" class="hm-searchbox">
                                <input type="text" placeholder="Search for item...">
                                <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="#"><span
                                            class="mm-text">Home</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="index.html">
                                                <span class="mm-text">Home One</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-2.html">
                                                <span class="mm-text">Home Two</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-3.html">
                                                <span class="mm-text">Home Three</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="mm-text">Shop</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">
                                                <span class="mm-text">Grid View</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="shop-3-column.html">
                                                        <span class="mm-text">Column Three</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-4-column.html">
                                                        <span class="mm-text">Column Four</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">
                                                <span class="mm-text">Shop List</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="shop-list-fullwidth.html">
                                                        <span class="mm-text">Full Width</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-list-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-list-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">
                                                <span class="mm-text">Single Product Style</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="single-product-gallery-left.html">
                                                        <span class="mm-text">Gallery Left</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-gallery-right.html">
                                                        <span class="mm-text">Gallery Right</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-tab-style-left.html">
                                                        <span class="mm-text">Tab Style Left</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-tab-style-right.html">
                                                        <span class="mm-text">Tab Style Right</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-sticky-left.html">
                                                        <span class="mm-text">Sticky Left</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-sticky-right.html">
                                                        <span class="mm-text">Sticky Right</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">
                                                <span class="mm-text">Single Product Type</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="single-product.html">
                                                        <span class="mm-text">Single Product</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-sale.html">
                                                        <span class="mm-text">Single Product Sale</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-group.html">
                                                        <span class="mm-text">Single Product Group</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-variable.html">
                                                        <span class="mm-text">Single Product Variable</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-affiliate.html">
                                                        <span class="mm-text">Single Product Affiliate</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-slider.html">
                                                        <span class="mm-text">Single Product Slider</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="mm-text">Blog</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children has-children">
                                            <a href="#">
                                                <span class="mm-text">Grid View</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-2-column.html">
                                                        <span class="mm-text">Column Two</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-3-column.html">
                                                        <span class="mm-text">Column Three</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children has-children">
                                            <a href="#">
                                                <span class="mm-text">List View</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-list-fullwidth.html">
                                                        <span class="mm-text">List Fullwidth</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-list-left-sidebar.html">
                                                        <span class="mm-text">List Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-list-right-sidebar.html">
                                                        <span class="mm-text">List Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children has-children">
                                            <a href="#">
                                                <span class="mm-text">Blog Details</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-details-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-details-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children has-children">
                                            <a href="#">
                                                <span class="mm-text">Blog Format</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-gallery-format.html">
                                                        <span class="mm-text">Gallery Format</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-audio-format.html">
                                                        <span class="mm-text">Audio Format</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-video-format.html">
                                                        <span class="mm-text">Video Format</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="mm-text">Pages</span>
                                    </a>

                                </li>
                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">
                                        <span class="mm-text">User
                                            Setting
                                        </span>
                                    </a>
                                </li>

                                <li class="menu-item-has-children"><a href="#"><span class="mm-text">Language</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Gujarati</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Hindi</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Jewellery's Header Main Area End Here -->


        <div layout:fragment="content1">

        </div>


        <!-- Begin Jewellery's Footer Area -->
        <div class="jewellery-footer_area">
            <div class="footer-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widgets_info">

                                <div class="footer-widgets_logo">
                                    <a href="#">
                                        <img th:src="@{${companyDetail.imagePath}}" alt="Jewellery's Footer Logo">
                                    </a>
                                </div>

                                <div class="widget-short_desc">
                                    <p>You may need to contact the Jewellery shop directly. You can usually
                                        find their contact information on their website or through a quick online
                                        search.
                                    </p>
                                </div>
                                <div class="jewellery-social_link">
                                    <ul>


                                        <li th:each="link:${listLink}" th:class="${link.linkType}">
                                            <a th:href="@{${link.url}}" data-bs-toggle="tooltip" target="_blank"
                                                th:title="${link.linkType}">
                                                <i th:class="'fab fa-'+${link.linkType}"></i>
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="footer-widgets_area">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="footer-widgets_title">
                                            <h6>Get to know us</h6>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a th:href="@{/faq}">FAQ</a></li>
                                                <li><a th:href="@{/blog}">Blog</a></li>
                                                <li><a th:href="@{/shop?cat_id=1}">Shop</a></li>
                                                <li><a th:href="@{/contact}">Contact us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="footer-widgets_info">
                                            <div class="footer-widgets_title">
                                                <h6>About Us</h6>
                                            </div>
                                            <div class="widgets-essential_stuff">
                                                <ul>
                                                    <li class="jewellery-address"><i
                                                            class="ion-ios-location"></i><span>Address:</span><span
                                                            th:text="${companyDetail.getAddress()}"></span> </li>
                                                    <li class="jewellery-phone"><i
                                                            class="ion-ios-telephone"></i><span>Contact
                                                            Us:</span> <span
                                                            th:text="${companyDetail.getHelplineNo()}"></span>
                                                    </li>
                                                    <li class="jewellery-email"><i
                                                            class="ion-android-mail"></i><span>Email:</span>
                                                        <span th:text="${companyDetail.getEmail()}"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="instagram-container footer-widgets_area">
                                            <div class="footer-widgets_title">
                                                <h6>Sign Up For Newslatter</h6>
                                            </div>
                                            <div class="widget-short_desc">
                                                <p>Subscribe to our newsletters now and stay up-to-date with new
                                                    collections</p>
                                            </div>
                                            <div class="newsletter-form_wrap">
                                                <form class="subscribe-form" id="mc-form" action="#">
                                                    <input class="newsletter-input" id="mc-email" type="email"
                                                        autocomplete="off" name="Enter Your Email"
                                                        value="Enter Your Email"
                                                        onblur="if(this.value==''){this.value='Enter Your Email'}"
                                                        onfocus="if(this.value=='Enter Your Email'){this.value=''}">
                                                    <button class="newsletter-btn" id="mc-submit">
                                                        <i class="ion-android-mail"></i>
                                                    </button>
                                                </form>
                                                <!-- Mailchimp Alerts -->
                                                <div class="mailchimp-alerts mt-3">
                                                    <div class="mailchimp-submitting"></div>
                                                    <div class="mailchimp-success"></div>
                                                    <div class="mailchimp-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom_area">
                <div class="container">
                    <div class="footer-bottom_nav">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="footer-links">
                                    <ul>
                                        <li><a href="#">Online Shopping</a></li>
                                        <li><a href="#">Promotions</a></li>
                                        <li><a href="#">My Orders</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">Customer Service</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Most Populars</a></li>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Special Products</a></li>
                                        <li><a href="#">Manufacturers</a></li>
                                        <li><a href="#">Our Stores</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Payments</a></li>
                                        <li><a href="#">Warantee</a></li>
                                        <li><a href="#">Refunds</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Discount</a></li>
                                        <li><a href="#">Refunds</a></li>
                                        <li><a href="#">Policy Shipping</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="payment">
                                    <a href="#">
                                        <img th:src="@{assets/images/footer/payment/1.png}"
                                            alt="Jewellery's Payment Method">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="copyright">
                                    <span>Copyright &copy; 2022 <a href="index.html">Jewellery.</a> All rights
                                        reserved.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Jewellery's Footer Area End Here -->
        <th:block th:if="${session.msg}">
		<script>
			alert("[[${session.msg}]]")
		</script>
		<p th:text="${#session.removeAttribute('msg')}"></p>
	    </th:block>
        
        
        <!-- Begin Jewellery's Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area sp-area row">
                            <div class="col-lg-5 col-md-5">
                                <div class="sp-img_area">
                                    <div class="sp-img_slider-2 slick-img-slider jewellery-slick-slider arrow-type-two"
                                        data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                }'>
                                        <div class="single-slide red">
                                            <img th:src="@{assets/images/single-product/large-size/1.jpg}"
                                                alt="Jewellery's Product Image">
                                        </div>

                                    </div>
                                    <div class="sp-img_slider-nav slick-slider-nav jewellery-slick-slider arrow-type-two"
                                        data-slick-options='{
                                   "slidesToShow": 4,
                                    "asNavFor": ".sp-img_slider-2",
                                   "focusOnSelect": true
                                  }' data-slick-responsive='[
                                        {"breakpoint":1201, "settings": {"slidesToShow": 2}},
                                        {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":577, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":481, "settings": {"slidesToShow": 2}},
                                        {"breakpoint":321, "settings": {"slidesToShow": 2}}
                                    ]'>
                                        <div class="single-slide red">
                                            <img th:src="@{assets/images/single-product/small-size/1.jpg}"
                                                alt="Jewellery's Product Thumnail">
                                        </div>
                                        <div class="single-slide orange">
                                            <img th:src="@{assets/images/single-product/small-size/2.jpg}"
                                                alt="Jewellery's Product Thumnail">
                                        </div>
                                        <div class="single-slide brown">
                                            <img th:src="@{assets/images/single-product/small-size/3.jpg}"
                                                alt="Jewellery's Product Thumnail">
                                        </div>
                                        <div class="single-slide umber">
                                            <img th:src="@{assets/images/single-product/small-size/4.jpg}"
                                                alt="Jewellery's Product Thumnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-6">
                                <div class="sp-content">
                                    <div class="sp-heading">
                                        <h5><a href="#">Light Inverted Pendant Quis Justo Condimentum</a></h5>
                                    </div>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">₹1082.84</span>
                                        <span class="old-price">₹1093.68</span>
                                    </div>
                                    <div class="essential_stuff">
                                        <ul>
                                            <li>EX Tax:<span>₹10453.35</span></li>
                                            <li>Price in reward points:<span>400</span></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <ul>
                                            <li>10 or more ₹1081.03</li>
                                            <li>20 or more ₹1071.09</li>
                                            <li>30 or more ₹1061.15</li>
                                        </ul>
                                    </div>
                                    <div class="list-item last-child">
                                        <ul>
                                            <li>Brand<a href="javascript:void(0)">Buxton</a></li>
                                            <li>Product Code: Product 15</li>
                                            <li>Reward Points: 100</li>
                                            <li>Availability: In Stock</li>
                                        </ul>
                                    </div>
                                    <div class="color-list_area">
                                        <div class="color-list_heading">
                                            <h4>Available Options</h4>
                                        </div>
                                        <span class="sub-title">Color</span>
                                        <div class="color-list">
                                            <a href="javascript:void(0)" class="single-color active"
                                                data-swatch-color="red">
                                                <span class="bg-red_color"></span>
                                                <span class="color-text">Red (+₹103.61)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color"
                                                data-swatch-color="orange">
                                                <span class="burnt-orange_color"></span>
                                                <span class="color-text">Orange (+₹102.71)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="brown">
                                                <span class="brown_color"></span>
                                                <span class="color-text">Brown (+₹100.90)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="umber">
                                                <span class="raw-umber_color"></span>
                                                <span class="color-text">Umber (+₹101.81)</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </div>
                                    <div class="jewellery-group_btn">
                                        <ul>
                                            <li><a href="cart.html" class="add-to_cart">Cart To Cart</a></li>
                                            <li><a href="cart.html"><i class="ion-android-favorite-outline"></i></a>
                                            </li>
                                            <li><a href="cart.html"><i class="ion-ios-shuffle-strong"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="jewellery-tag-line">
                                        <h6>Tags:</h6>
                                        <a href="javascript:void(0)">Ring</a>,
                                        <a href="javascript:void(0)">Necklaces</a>,
                                        <a href="javascript:void(0)">Braid</a>
                                    </div>
                                    <div class="jewellery-social_link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com" data-bs-toggle="tooltip"
                                                    target="_blank" title="Facebook">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com" data-bs-toggle="tooltip" target="_blank"
                                                    title="Twitter">
                                                    <i class="fab fa-twitter-square"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a href="https://www.youtube.com" data-bs-toggle="tooltip"
                                                    target="_blank" title="Youtube">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="https://www.plus.google.com/discover" data-bs-toggle="tooltip"
                                                    target="_blank" title="Google Plus">
                                                    <i class="fab fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://rss.com" data-bs-toggle="tooltip" target="_blank"
                                                    title="Instagram">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jewellery's Modal Area End Here -->

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script th:src="@{assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{assets/js/vendor/jquery-migrate-3.3.2.min.js}"></script>
    <!-- Modernizer JS -->
    <script th:src="@{assets/js/vendor/modernizr-3.11.2.min.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{assets/js/vendor/bootstrap.bundle.min.js}"></script>

    <!-- Slick Slider JS -->
    <script th:src="@{assets/js/plugins/slick.min.js}"></script>
    <!-- Countdown JS -->
    <script th:src="@{assets/js/plugins/countdown.min.js}"></script>
    <!-- Barrating JS -->
    <script th:src="@{assets/js/plugins/jquery.barrating.min.js}"></script>
    <!-- Counterup JS -->
    <script th:src="@{assets/js/plugins/jquery.counterup.min.js}"></script>
    <!-- Waypoints -->
    <script th:src="@{assets/js/plugins/waypoints.min.js}"></script>
    <!-- Nice Select JS -->
    <script th:src="@{assets/js/plugins/jquery.nice-select.min.js}"></script>
    <!-- Sticky Sidebar JS -->
    <script th:src="@{assets/js/plugins/jquery.sticky-sidebar.js}"></script>
    <!-- Jquery-ui JS -->
    <script th:src="@{assets/js/plugins/jquery-ui.min.js}"></script>
    <!-- Scroll Top JS -->
    <script th:src="@{assets/js/plugins/scroll-top.min.js}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script th:src="@{assets/js/plugins/theia-sticky-sidebar.min.js}"></script>
    <!-- ElevateZoom JS -->
    <script th:src="@{assets/js/plugins/jquery.elevateZoom-3.0.8.min.js}"></script>
    <!-- Timecircles JS -->
    <script th:src="@{assets/js/plugins/timecircles.min.js}"></script>
    
    <!-- Main JS -->
    <script th:src="@{assets/js/main.js}"></script>
    <!-- <script th:src="@{assets/js/main.min.js}"></script> -->

<th:block th:if="${session.msg}">
     <script>alert('[[${session.msg}]]')</script>
     <p th:text="${#session.removeAttribute('msg')}"></p>
</th:block>

</body>

</html>